argcomplete==3.5.2
beautifulsoup4==4.12.3
blinker==1.9.0
blivet==3.11.0
blivet-gui==2.6.0
boto3==1.35.86
botocore==1.35.86
Brlapi==0.8.5
certifi==2023.5.7
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
crypt_r==3.13.1
cupshelpers==1.0
dasbus==1.7
dbus-python==1.3.2
distro==1.9.0
dnf==4.22.0
fedora-third-party==0.10
file-magic==0.4.0
Flask==3.1.0
humanize==4.9.0
idna==3.7
initial-setup==0.3.101
iso639==0.1.4
itsdangerous==2.2.0
Jinja2==3.1.5
jmespath==1.0.1
langtable==0.0.68
libcomps==0.1.21
libdnf==0.73.4
louis==3.28.0
lxml==5.2.1
MarkupSafe==3.0.2
nftables==0.1
numpy==2.2.1
opencv-python==4.10.0.84
packaging==24.1
perf==0.1
pexpect==4.9.0
pid==2.2.3
ply==3.11
productmd==1.41
psutil==5.9.8
ptyprocess==0.7.0
pwquality==1.4.5
pycairo==1.25.1
pycparser==2.20
pycups==2.0.4
pyenchant==3.2.2
pygdbmi==0.11.0.0
PyGObject==3.48.2
pykickstart==3.58
pyparted==3.13.0
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-linux-procfs==0.7.3
python-meh==0.52
pyudev==0.24.3
pyxdg==0.27
PyYAML==6.0.1
pyzmq==26.2.0
regex==2024.9.11
requests==2.32.3
requests-file==2.0.0
requests-ftp==0.3.1
rpm==4.20.0
s3transfer==0.10.4
selinux @ file:///builddir/build/BUILD/libselinux-3.7-build/libselinux-3.7/src
sentry-sdk==2.17.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.7-build/selinux-3.7/python/sepolicy
setools==4.5.1
setuptools==69.2.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sos==4.8.2
soupsieve==2.6
systemd-python==235
urllib3==1.26.20
Werkzeug==3.1.3
xkbregistry==0.3
